*.pyc
*~
__pycache__
/Env
db.sqlite3
/static
.DS_Store
.gitignore
.vscode
/Basics/Authentication/auth-env
Files/FileDownload/files/media
Files/FileDownload/files/static
Files/FileDownload/files/db.sqlite3
Files/FileDownload/files/file_download_app/migrations
Files/multiple-file-upload/media
Files/multiple-file-upload/db.sqlite3
Files/multiple-file-upload/mysite/photos
Files/mysql_excel/media
Files/mysql_excel/excelFileApp/migrations
Files/simple-file-upload/media
Files/simple-file-upload/db.sqlite3
Tuts/django-girls-tuts/myvenv
Tuts/django-pluralsight/django-env
Tuts/django-simpleIsBetter/venv
