{% extends 'excelFileApp/base.html' %}

{% load static %}

{% block title %}File Upload{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/file-upload.js' %}"></script>
{% endblock %}

{% block content %}
  <div style="margin-bottom: 20px;">
    <form method="post" action="{% url 'files_app:clear_database' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="submit" class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-trash"></span> Clear Database
      </button>
    </form>
    
    <!-- <label>Title</label> -->
    <!-- <input id='title' type="title" name="title" value=/> -->
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'files_app:file_upload' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    <button type="button" class="btn btn-primary js-upload-photos" style="text-align:left">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload files
    </button>
  </div>

  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>Excel Files</th>
      </tr>
    </thead>
    <tbody>
      {% for photo in files %}
        <tr>
          <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
