{% extends 'file/index.html' %} {% block content %}
<div>
  <div id="home-content">
    <h1>Upload Files </h1>
  </div>

  <br><br>
  <div>
    
    <p class="pull-left">
      <a href="{% url 'photos:model_form_upload' %}" class="btn btn-warning"> Upload File</a>
			<a href='/multipleupload/' class="btn btn-primary">Mulitiple File</a>			
    </p>
  </div>
  
  <br><br>
  
  <div>
    <table border=2 class="table table-striped">
      <tr>
        <!-- <th>Serial No.</th> -->
        <th>Name</th>
        <th>Date</th>
      </tr>
      {% for obj in documents %}
      <tr>  
        <td><a href="{{ obj.document.url }}">{{ obj.document.name }}</a></td>
        <td>{{ obj.uploaded_at }}</td>
      </tr>
      {% endfor %}
  </div>
</div>
{% endblock %}