{% load staticfiles %}
<html>

<head>
    <title>{% block title %} Index {% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Jquery UI -->
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="text-center">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <!-- Jquery and Jquery Ui -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Static file /static/js/auto.js -->
    <!-- <script src="{% static "js/auto.js" %}"></script> -->
</body>

</html>